<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Currency Exchange</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="center">
        <h1>Currency Exchange Convertor</h1>
        <br>
        <form id="user_form" action="/convertion" method="post"> 
            
            <div class="container">
                <div class="input">
                    <label for="amount">Amount</label> <br><br>  
                    <input type="text" inputmode="decimal" autocomplete="off" value="1.00" name="amount">
                </div>
                <div class="input">
                    <label for="from_curr">Currency From</label> <br><br>  
                    <input type="text" name="from_curr" placeholder="USD">
                </div>
                <div class="input">
                    <label for="to_curr">Currency To</label> <br><br>  
                    <input type="text" name="to_curr" placeholder="EUR">
                </div>
            </div>
            <br><br><br>
            <input type="reset" class="button">
            <input type="submit" value="Calculate convertion" class="button">
        </form>

    </div>
</body>

</html>
