<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Currency Exchange</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="center">
        <h1>Currency Exchange Convertor</h1>
        <br>
         
        <form action="/retrieve" method="get">
            <input type="submit" value="Get Convertion Rate" class="button">
        </form>
        <br>
        <form action="/exchange" method="get">
            <input type="submit" value="Calculate Conversion" class="button">
        </form>
        
    </div>
</body>

</html>
